<html>
<head>
</head>
<body>
<hr>
<h2>Add Course</h2>
<form action="courses" method="POST">
  Name: <input name="name" type="text">
  <br>
  Code: <input name="code" type="text">
  <br>
  <input type="submit">
</form>
<hr>
<h2>Upload Course Data</h2>
<form action="upload/all" method="POST" enctype="multipart/form-data">
  Course:
  <select id="course_code" name="course_code">
    {% for item in courses %}
    <option value="{{item.code}}">{{item.name}}</option>
    {% endfor %}
  </select>
  <br>
  Run: 
  <input name="run" type="number" min="1">
  <br>
  Metadata: <input name="metadata" type="file">
  <br>
  Enrolments: <input name="enrolments" type="file">
  <br>
  Step Activity: <input name="step_activity" type="file">
  <br>
  Comments: <input name="comments" type="file">
  <br>
  Question Response: <input name="question_response" type="file">
  <br>
  Peer Review Assignments: <input name="peer_review_assignments" type="file">
  <br>
  Peer Review Reviews: <input name="peer_review_reviews" type="file">
  <br>
  <input type="submit">
</form>
<hr>
<!-- <h2>Upload CSV</h2>
<h4>upload enrolment</h4>
<form action="upload/enrolment" method="POST" enctype="multipart/form-data">
  Course: 
  <select id="course_code_1" name="course_code">
    {% for item in courses %}
    <option value="{{item.code}}">{{item.name}}</option>
    {% endfor %}
  </select>
  <br>
  Run: 
  <input name="run" type="number" min="1">
  <br>
  File: <input name="csv" type="file">
  <br>
  <input type="submit">
</form>
<h4>upload step_activity</h4>
<form action="upload/step_activity" method="POST" enctype="multipart/form-data">
  Course: 
  <select name="course_code">
    {% for item in courses %}
    <option value="{{item.code}}">{{item.name}}</option>
    {% endfor %}
  </select>
  <br>
  Run: <input name="run" type="number" min="1">
  <br>
  File: <input name="csv" type="file">
  <br>
  <input type="submit">
</form>
<h4>upload comment</h4>
<form action="upload/comment" method="POST" enctype="multipart/form-data">
  Course: 
  <select name="course_code">
    {% for item in courses %}
    <option value="{{item.code}}">{{item.name}}</option>
    {% endfor %}
  </select>
  <br>
  Run: <input name="run" type="number" min="1">
  <br>
  File: <input name="csv" type="file">
  <br>
  <input type="submit">
</form> -->
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!--script type="text/javascript">
$('#runForm').submit(function(e){
    var url = 'courses/' + $('#course_code').val() + '/run';
    console.log(url);
    console.log()
    $.ajax({
      type: 'post',
      url: url,
      data: $('#runForm').serialize(),
      error: function(r){
        //alert('error');
        console.log(r)
      },
      success: function(data){
        //alert(data);
        console.log(data);
      }
    });
    e.preventDefault();
});
</script-->
</html>